/* .App {
  text-align: center; */
/* }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body{
  background-color: #282d35;
}

.navbar{
  display: flex;
  background-color: #21222a;
  color: #61dafb;
  align-items: center;
  padding: 10px 25px;

}
.navbar img{
  height: 75px;
  width: 75px;
}

.h3{
  margin-right: auto;
}
.h1{
  margin: 0;
}

.h4{
  color: aliceblue;
  /* margin-left: auto; */
  
}

.main{
  
  padding: 20px;
  color: aliceblue;

}

.list{
  margin-top: 30px;
}

.list > li{
  line-height: 25px;
  padding-block: 10px;
}

.list > li::marker{
  font-size: x-large;
  color: #61dafb;
}
